<!-- <div class="patient-layout"> -->
    <!-- Voice Recording Section -->
    <!-- <div class="recording-container">
        <img src="../assets/images/Cancer (645).jpg" alt="Microphone" class="mic-image" *ngIf="recordingState != 'Recording'" (click)="toggleRecording()" />
        <img src="../assets/images/enable-mic.gif" alt="Microphone" class="mic-image"
            *ngIf="recordingState == 'Recording'" (click)="toggleRecording()"  />
    </div> -->

    <!-- Language Selection (Optional) -->
    <!-- <div style="margin-top: 10px;">
        <nb-select placeholder="Select Languages" [(selected)]="selectedItem" (selectedChange)="changeLanguage($event)" 
        [disabled]="recordingState == 'Recording'">
            <nb-option *ngFor="let lang of languages" [value]="lang.code">{{lang.name}}</nb-option>
        </nb-select>
    </div> -->

    <!-- Voice Recording Controls -->
    <!-- <div style="margin-top: 20px;">
        <button (click)="toggleRecording()" nbButton size="giant" shape="semi-round" status="primary">
            {{ recordingState }}
        </button>
    </div> -->

    <!-- Display Recorded Response -->
    <!-- <div style="margin-top: 20px;">
        <textarea *ngIf="showTextArea" nbInput fullWidth [(ngModel)]="service.text"
            placeholder="Recorded response will appear here..."></textarea>
        <button nbButton size="large" shape="semi-round" status="success" *ngIf="showSubmitButton"
            (click)="submitResponse()" [disabled]="recordingState !== 'Recording Stopped' && isSubmit">
            Submit
        </button>
    </div> -->

    <!-- Thank You Message -->
    <!-- <div *ngIf="showThankYou" class="thank-you-message">
        Thank you for submitting your response
    </div> -->
<!-- </div> -->

<!-- Image Upload Section -->
<div class="patient-layout">
  <div class="container">
    <div class="card">
      <form [formGroup]="forms" (ngSubmit)="submitForm()">
        <div class="recording-container drop_box">
          <input type="file" class="form-control" placeholder="Image name" formControlName="name"
            (change)="uploadFile($event)" accept="image/*" id="imageUpload" style="display: none" />
          <label for="imageUpload" class="image-upload-button">
            <img src="../assets/images/upload-icon.png" alt="Upload Image" class="upload-icon" />
          </label>
          <img [src]="uploadedImage" alt="Uploaded Image" *ngIf="uploadedImage" class="uploaded-image" />
          <button nbButton size="giant" class="btn" [disabled]="!uploadedImage" shape="semi-round" status="primary" style="margin-top: 16px">
            Submit Image
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Result</nb-card-header>
      <nb-card-body style="padding: 20px;">
        <h2> The Given is confirmed as Tumor</h2>
      </nb-card-body>
      <nb-card-footer style="float: right;">
        <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  <ng-template #dialog let-data let-ref="dialogRef2">
    <nb-card>
      <nb-card-header>Result</nb-card-header>
      <nb-card-body style="padding: 20px;">
        <h2> The Given is confirmed as Not Tumor</h2>
      </nb-card-body>
      <nb-card-footer style="float: right;">
        <button nbButton (click)="ref.close()">Close</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  
