<nb-layout>

  <nb-layout-header fixed>
    <!-- Insert header here -->
    <nb-layout-column>
      <a href="/#/" class="icon-block">
      <img src="../assets/images/logoname.png"  width="250" height="75">
      </a>
      </nb-layout-column>
    <nb-layout-column style="width: 84%;" left></nb-layout-column>
    <nb-layout-column left>
      <a href="/#/hospital" class="icon-block">
        <nb-icon icon="log-in-outline" style="font-size: 25px;" [options]="{ animation: { type: 'zoom' } }" nbTooltip="Hospital Portal" ></nb-icon>
      </a>
    </nb-layout-column>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
      © Hackathon 2023 CVBTD_TeamX.
  </nb-layout-footer>

</nb-layout>

